**/*.spec
**/*.py[cod]
**/build
**/__pycache__
**/.vscode
**/*venv
**/*heroku
**/*swp
**/*.Rhistory
**/*rsconnect
**/*deploy.R
.Rproj.user
**/*.RData
**/*.Rhistory
**/*.Rproj
**/rsconnect.json
**/pgconnect.json
**/.Renviron
**/rsconnect_gratuit.json
**/*.secrets
**/*.ipynb_checkpoints
**/*Aptfile
**/*gpkg-shm
**/*gpkg-wal
**/*gtfs_transports_data_gouv
**/_site/
**/.~*
